@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahkan custom class biar Tailwind ngerti bg-background & text-foreground */
@layer utilities {
  .border-border {
    border-color: hsl(0, 0%, 80%);
  }
  .bg-background {
    background-color: #ffffff;
  }
  .text-foreground {
    color: #000000;
  }
}

@layer base {
  :root {
    --primary: 160 84% 39%;
    --ring: 160 84% 39%;
  }

  .dark {
    --primary: 160 84% 39%;
    --ring: 160 84% 39%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
